<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/about.css">

<div class="d-flex flex-row justify-content-start">
    <nav class="navbar logo_nav">
      <a href="/"><img class="logo_resize" src="media/images/logo_big_face.svg"></a>
    </nav>
</div>

    <div class="container">
        <h4>hover</h4>    
        <img src="media/images/me_2.jpg" alt="Avatar" class="image">
        <div class="overlay">
            <div class="text">Welcome</div>
        </div>
    </div>
    <p class="text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
    </p>

<div class="arrow">
    <a href="/"><img class="img-fluid" src="media/images/back_arrow_pink.svg">
</div>

<a href="/send_eMail">
    <div class="clip">
        <iframe src="https://giphy.com/embed/87gJZXN7N6WzRCpzz6" frameBorder="0" allowFullScreen</iframe>
    </div>
</a>

