<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
        
<div class="d-flex flex-row justify-content-center">
      <a href="/about"><img class="logo" src="media/images/logo_big_face.svg" alt="About the author and her blog"></a>
</div>

<hr>

<div class="container-fluid">
    <div class="row justify-content-around">
        <div class="col-sm-3">
            <ul class="slideshow">
                <li><img class="img-fluid img-thumbnail" src = "media/images/door.JPG"></li>
                <li><img class="img-fluid img-thumbnail" src = "media/images/tenement_house.JPG"></li>
                <li><img class="img-fluid img-thumbnail" src = "media/images/backyard.JPG"></li>
                <li><img class="img-fluid img-thumbnail" src = "media/images/stairs.JPG"></li>                                
                <li><img class="img-fluid img-thumbnail" src = "media/images/passage.JPG"></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <ul class="slideshow">
                <li><img class="img-fluid img-thumbnail" src = "media/images/door_painting.jpg"></li>
                <li><img class="img-fluid img-thumbnail" src = "media/images/gues_table.jpg"></li>
                <li><img class="img-fluid img-thumbnail" src = "media/images/table_number.jpg"></li>
                <li><img class="img-fluid img-thumbnail" src = "media/images/table_deco.jpg"></li>
                <li><img class="img-fluid img-thumbnail" src = "media/images/table_deco_wood.jpg"></li>
            </ul>
        </div>
        <div class="col-sm-6">
            <ul class="slideshow">
                <li><img class="img-fluid_vrtcl img-thumbnail" src = "media/images/palm_beach.jpg"></li>
                <li><img class="img-fluid_vrtcl img-thumbnail" src = "media/images/beach_2.jpg"></li>
                <li><img class="img-fluid_vrtcl img-thumbnail" src = "media/images/beach.jpg"></li> 
                <li><img class="img-fluid_vrtcl img-thumbnail" src = "media/images/view.jpeg"></li>
                <li><img class="img-fluid_vrtcl img-thumbnail" src = "media/images/sea.jpg"></li>
            </ul>
        </div>        
    </div>
</div>
<% include partials/footer %>