<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
        
<div class="d-flex flex-row justify-content-center">
    <nav class="navbar">
      <a href="/about"><img class="logo" src="media/images/logo_big_face.svg" alt="About the author and her blog"></a>
    </nav>
</div>

<hr>

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-sm-3">
            <ul class="slideshow">
                <li><img class="img-fluid img-thumbnail" src = "media/images/door.JPG"></li>
                <li><img class="img-fluid img-thumbnail" src = "media/images/tenement_house.JPG"></li>
                <li><img class="img-fluid img-thumbnail" src = "media/images/backyard.JPG"></li>
                <li><img class="img-fluid img-thumbnail" src = "media/images/stairs.JPG"></li>                                
                <li><img class="img-fluid img-thumbnail" src = "media/images/passage.JPG"></li>
            </ul>
        </div>
        <div class="col-sm-6">
            <div class="d-flex flex-column justify-content-center slideshow">
                <li><img class="img-fluid_vrtcl" src = "media/images/palm_beach.jpg"></li>
                <li><img class="img-fluid_vrtcl" src = "media/images/beach_2.jpg"></li>
                <li><img class="img-fluid_vrtcl" src = "media/images/beach.jpg"></li> 
                <li><img class="img-fluid_vrtcl" src = "media/images/view.jpeg"></li>
                <li><img class="img-fluid_vrtcl" src = "media/images/sea.jpg"></li>
            </div>
        </ul>
        </div>
        <div class="col-sm-3">
            <ul class="slideshow">
                <li><img class="img-fluid img-thumbnail" src = "media/images/door_painting.jpg"></li>
                <li><img class="img-fluid img-thumbnail" src = "media/images/gues_table.jpg"></li>
                <li><img class="img-fluid img-thumbnail" src = "media/images/table_number.jpg"></li>
                <li><img class="img-fluid img-thumbnail" src = "media/images/table_deco.jpg"></li>
                <li><img class="img-fluid img-thumbnail" src = "media/images/table_deco_wood.jpg"></li>
            </ul>
        </div>
  </div>
</div>
        
        <!--<div class = "container-fluid">-->
        <!--    <div class="row">-->
        <!--        <div class="col-md-3 col-sm-hidden">-->
                    <!--<div>-->
                    <!--    <h4 class="rotate">PHOTOGRAPHY</h4>-->
                    <!--</div>-->
        <!--            <div>-->
                        <!--<ul class="slideshow_vrtcl slideshow_vrtcl_1">-->
                        <!--    <div class="slideshow_li">-->
                        <!--        <li><img class = "resize_2" src = "media/images/door.JPG"></li>-->
                        <!--        <li><img class = "resize_2" src = "media/images/tenement_house.JPG"></li>-->
                        <!--        <li><img class = "resize_2" src = "media/images/backyard.JPG"></li>-->
                        <!--        <li><img class = "resize_2" src = "media/images/stairs.JPG"></li>                                -->
                        <!--        <li><img class = "resize_2" src = "media/images/passage.JPG"></li>-->
                        <!--    </div>-->
                        <!--</ul>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="col-md-6 col-sm-hidden">-->
                    <!--<div>-->
                    <!--    <h4 class="rotate">TRAVEL</h4>-->
                    <!--</div>-->
        <!--            <div>-->
                        <!--<ul class="slideshow_hrzntl">-->
                        <!--    <div class="slideshow_li">-->
                        <!--        <li><img class = "resize" src = "media/images/palm_beach.jpg"></li>-->
                        <!--        <li><img class = "resize" src = "media/images/beach_2.jpg"></li>-->
                        <!--        <li><img class = "resize" src = "media/images/beach.jpg"></li>                                <li><img class = "resize" src = "media/images/view.jpeg"></li>-->
                        <!--        <li><img class = "resize" src = "media/images/sea.jpg"></li>-->
                        <!--    </div>-->
                        <!--</ul>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="col-md-3 col-sm-hidden">-->
                    <!--<div>-->
                    <!--    <h4 class="rotate_bkwrds">CREATIVITY</h4> -->
                    <!--</div>-->
        <!--            <div>-->
                        <!--<ul class="slideshow_vrtcl slideshow_vrtcl_2">-->
                        <!--    <div class="slideshow_li">-->
                        <!--        <li><img class = "resize_2" src = "media/images/door_painting.jpg"></li>-->
                        <!--        <li><img class = "resize_2" src = "media/images/gues_table.jpg"></li>-->
                        <!--        <li><img class = "resize_2" src = "media/images/table_number.jpg"></li>-->
                        <!--        <li><img class = "resize_2" src = "media/images/table_deco.jpg"></li>-->
                        <!--        <li><img class = "resize_2" src = "media/images/table_deco_wood.jpg"></li>-->
                        <!--    </div>-->
                        <!--</ul>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--</div> -->

<% include partials/footer %>