<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/new.css">

<div class="container-fluid">
    <h1>Add new comment</h1>
    <form action="/photography/<%= photography._id %>/comments" method="POST">
        <div class="form-group">
            <textarea name="comment[comment]" placeholder="your comment"></textarea><br>
        </div>
        <div class="form-group">
            <button>Submit</button>
        </div>
    </form>
</div>