<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/twitter.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/photography.css">

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>PHOTOGRAPHY by Sandra Penno</h1><br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            </p>
            <hr class="my-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </p>
            <p>
                <a class="btn btn-info" href="/photography/new">Add comment</a>
            </p>
               
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="d-flex flex-column pt-5 justify-content-center">
                <img src="/media/images/arcade.JPG" />  
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="d-flex flex-column pt-5 justify-content-center">
                <img src="/media/images/reflection.JPG" />
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-lg-6 col-sm-12">
            <div class="d-flex flex-column pt-5 justify-content-center">
                <img src="/media/images/tenement_house.JPG" />
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="d-flex flex-column pt-5 justify-content-center">
                <img src="/media/images/backyard.JPG" />
            </div>
        </div>
        <div class="w-10"></div>
        <div class="col-lg-6 col-sm-12">
            <div class="d-flex flex-column py-5 justify-content-center">
                <img src="/media/images/door.JPG" />
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="d-flex flex-column py-5 justify-content-center">
                <img src="/media/images/passage_2.JPG" />
            </div>
        </div>
    </div>
</div>