<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/twitter.css">

<!--<img class="img-fluid" src="media/images/palms_pink.jpg">-->

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>PHOTOGRAPHY by Sandra Penno</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            </p>
            <p>
                <a class="btn btn-info" href="/photography/new">Add comment</a>
            </p>
               
        </div>
    </div>
</div>