<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/twitter.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/photography.css">

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>PHOTOGRAPHY by Sandra Penno</h1><br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            </p>
            <hr class="my-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </p>
            <p>
                <a class="btn btn-info" href="/about">About the Author</a>
            </p>
               
        </div>
    </div>
    <div class="row">
        <% photography.forEach(function(photography){ %>
                <div class="col-lg-6 col-sm-12">
                    <div class="d-flex flex-column pt-5 justify-content-center">
                            <h4><%= photography.name %></h4>
                            <img src="<%= photography.image %>" />
                    </div>
                    <a class="btn btn-info" href="/photography/<%= photography._id %>/comments/new">Comment</a>
                    <a class="btn btn-primary" href="/photography/<%= photography._id %>/comments">More Info</a>
                </div>
        <% }); %>
    </div>
</div>
<% include partials/footer %>