<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/twitter.css">

<img class="img-fluid" src="media/images/palms_pink.jpg" alt="Palm leaves on pink background.">

<p class="text">
    Actually I do not have<br>twitter ;D
</p>
