body {
    background: linear-gradient(to left, #ffffff 0%, #ffccff 100%);
    font-family: 'Raleway', sans-serif;
}

.logo {
    width: 30vw;
    height: 30vh;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.nav-link {
  color: #ff99aa;
}